html {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
body {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
div {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
span {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
applet {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
object {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
iframe {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
p {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
blockquote {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
pre {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
a {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
abbr {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
acronym {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
address {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
big {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
cite {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
code {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
del {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
dfn {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
em {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
img {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
ins {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
kbd {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
q {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
s {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
samp {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
small {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
strike {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
strong {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
sub {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
sup {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
tt {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
var {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
b {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
u {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
i {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
center {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
dl {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
dt {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
dd {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
fieldset {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
form {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
label {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
legend {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
table {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
caption {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
tbody {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
tfoot {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
thead {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
tr {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
th {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
td {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
article {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
aside {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
canvas {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
details {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
embed {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
figure {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
figcaption {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
footer {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
header {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
hgroup {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
menu {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
nav {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
output {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
ruby {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
section {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
summary {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
time {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
mark {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
audio {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
video {
	margin: 0px; padding: 0px; border: 0px currentColor; line-height: 160%; font-family: "Tahoma", "Pmingliu"; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
#cover-image {
	width: 100%;
}
div > ol.toc {
	list-style-type: disc;
}
ol.toc {
	list-style-type: circle;
}
blockquote {
	margin: 10px; padding: 1px 10px; border: 1px solid rgb(55, 55, 55); background-color: rgb(239, 239, 239);
}
h1 {
	margin: 30px; text-align: center; color: rgb(5, 5, 5); font-family: "Tahoma", "DFKai-sb"; font-size: xx-large; font-weight: bold;
}
h1 a {
	margin: 30px; text-align: center; color: rgb(5, 5, 5); font-family: "Tahoma", "DFKai-sb"; font-size: xx-large; font-weight: bold;
}
h2 {
	color: rgb(0, 0, 51); font-family: "Tahoma", "DFKai-sb"; font-size: x-large; font-weight: bold; margin-top: 30px; margin-bottom: 30px;
}
h2 a {
	color: rgb(0, 0, 51); font-family: "Tahoma", "DFKai-sb"; font-size: x-large; font-weight: bold; margin-top: 30px; margin-bottom: 30px;
}
h3 {
	color: rgb(0, 0, 102); font-family: "Tahoma", "DFKai-sb"; font-size: large; font-weight: bold;
}
h3 a {
	color: rgb(0, 0, 102); font-family: "Tahoma", "DFKai-sb"; font-size: large; font-weight: bold;
}
h4 {
	color: rgb(75, 0, 130); font-family: "Tahoma", "DFKai-sb"; font-size: medium; font-weight: bold;
}
h4 a {
	color: rgb(75, 0, 130); font-family: "Tahoma", "DFKai-sb"; font-size: medium; font-weight: bold;
}
h5 {
	color: rgb(112, 128, 144); font-family: "Tahoma", "DFKai-sb"; font-size: small; font-weight: bold;
}
h5 a {
	color: rgb(112, 128, 144); font-family: "Tahoma", "DFKai-sb"; font-size: small; font-weight: bold;
}
h6 {
	font-size: x-small;
}
h6 a {
	font-size: x-small;
}
p {
	margin: 10px 0px 15px; color: rgb(53, 53, 53); font-family: "Tahoma", "Pmingliu"; font-size: 100%;
}
li {
	font-size: 100%;
}
footer p {
	color: rgb(242, 242, 242);
}
a {
	color: rgb(0, 126, 223); text-decoration: none; text-shadow: none; transition: text-shadow 0.5s ease; -webkit-transition: text-shadow 0.5s ease; -moz-transition: text-shadow 0.5s ease; -o-transition: text-shadow 0.5s ease; -ms-transition: text-shadow 0.5s ease;
}
table {
	border: 1px solid rgb(55, 55, 55); text-align: left; margin-right: auto; margin-bottom: 20px; margin-left: auto; border-collapse: collapse; border-spacing: 0;
}
th {
	padding: 10px; color: white; background-color: black;
}
td {
	padding: 10px; border: 1px solid rgb(55, 55, 55); vertical-align: middle;
}
em {
	font-weight: bold;
}
#header_wrap {
	font: inherit; margin: 0px; padding: 16px; border: 0px currentColor; color: white; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit; background-color: black;
}
#header_wrap h1 {
	color: white; font-family: "Tahoma", "DFKai-sb";
}
#header_wrap h1 sub {
	color: white; font-family: "Tahoma", "DFKai-sb";
}
#header_wrap h1 a {
	color: white; font-family: "Tahoma", "DFKai-sb";
}
#header_wrap sub {
	color: white; font-size: 60%;
}
.title {
	text-align: center; color: rgb(51, 51, 51); font-family: "Tahoma", "DFKai-sb";
}
.author {
	text-align: center; color: rgb(51, 51, 51); font-family: "Tahoma", "DFKai-sb";
}
.date {
	text-align: center; color: rgb(51, 51, 51); font-family: "Tahoma", "DFKai-sb";
}
.title {
	line-height: 800%; font-size: xx-large;
}
.author {
	line-height: 300%; font-size: large;
}
.date {
	line-height: 300%; font-size: large;
}
#content {
	margin: 10px; padding: 10px;
}
pre {
	padding: 10px; border: 1px solid rgb(55, 55, 55); width: 95%; color: rgb(63, 63, 63); font-size: medium; background-color: rgb(239, 239, 239);
}
code {
	font-family: "Tahoma", "Pmingliu";
}
.figure {
	margin: 10px auto; padding: 10px; display: block;
}
.figure img {
	border: 1px solid rgb(55, 55, 55); margin-right: auto; margin-left: auto; display: block;
}
.figure .caption {
	text-align: center;
}
#TOC {
	
}
#footer {
	margin: 10px; padding: 10px; text-align: center; color: rgb(111, 111, 111); font-size: small;
}
table.sourceCode {
	margin: 0px; padding: 0px; border: currentColor; vertical-align: baseline;
}
tr.sourceCode {
	margin: 0px; padding: 0px; border: currentColor; vertical-align: baseline;
}
td.lineNumbers {
	margin: 0px; padding: 0px; border: currentColor; vertical-align: baseline;
}
td.sourceCode {
	margin: 0px; padding: 0px; border: currentColor; vertical-align: baseline;
}
table.sourceCode {
	width: 100%;
}
td.lineNumbers {
	text-align: right; color: rgb(175, 175, 175); padding-right: 4px; padding-left: 4px; border-right-color: rgb(170, 170, 170); border-right-width: 1px; border-right-style: solid;
}
td.sourceCode {
	padding-left: 5px;
}
code > span.kw {
	color: rgb(0, 112, 32); font-weight: bold;
}
code > span.dt {
	color: rgb(144, 32, 0);
}
code > span.dv {
	color: rgb(64, 160, 112);
}
code > span.bn {
	color: rgb(64, 160, 112);
}
code > span.fl {
	color: rgb(64, 160, 112);
}
code > span.ch {
	color: rgb(64, 112, 160);
}
code > span.st {
	color: rgb(64, 112, 160);
}
code > span.co {
	color: rgb(96, 160, 176); font-style: italic;
}
code > span.ot {
	color: rgb(0, 112, 32);
}
code > span.al {
	color: rgb(255, 0, 0); font-weight: bold;
}
code > span.fu {
	color: rgb(6, 40, 126);
}
code > span.er {
	color: rgb(255, 0, 0); font-weight: bold;
}
